@keyframes moveImage {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); /* Move to the right */
    }
    100% {
      transform: translateX(0); /* Move back to the original position */
    }
  }
  
  .animate-move {
    animation: moveImage 2s ease-in-out infinite; /* 2 seconds for one complete cycle */
  }
  
  .gradient-hover {
    transition: all 0.3s ease-in-out;
  }
  
  .gradient-hover {
    transition: all 0.3s ease-in-out;
  }
  
  .gradient-hover:hover {
    color: rgb(43, 107, 226);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #2563EB, #7C3AED);
  }
  
  .odd\:w-full > li:nth-child(3n+1),
  .even\:w-full > li:nth-child(3n+2),
  .even\:w-full > li:nth-child(3n+3) {
   width: 100%;
  }

.even\:w-full > li:nth-child(2n) {
  width: 100%;
 }


 @keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}
